@using PuzzleTheory.RoomMonitor.Web.Code
@model IEnumerable<PuzzleTheory.RoomMonitor.Web.Models.RoomViewModel>
@{
    ViewData["Title"] = "Administration";
}

@Html.IncludeInitialAngularBindings(Model)

<div class="container-fluid">
    
    <h1>Puzzle Theory Room Monitor</h1>
    <my-app>Loading...</my-app>
    

</div>

