@using System.Threading.Tasks
@using PuzzleTheory.RoomMonitor.Web.Models
@model RoomViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Name;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <countdown></countdown>
        </div>
    </div>
</div>